---
---

<div class='mx-auto px-6 sm:px-6 max-w-3xl pt-8 md:pt-4 pb-12 md:pb-20'>
	<div id='disqus_thread'></div>

	<script src="https://giscus.app/client.js"
		data-repo="DrTheodor/blog"
		data-repo-id="R_kgDOLdk4fg"
		data-category="Comments"
		data-category-id="DIC_kwDOLdk4fs4Cd0x0"
		data-mapping="pathname"
		data-strict="1"
		data-reactions-enabled="1"
		data-emit-metadata="0"
		data-theme="https://giscus.app/themes/custom_example.css"
		data-input-position="bottom"
		data-loading="lazy"
		crossorigin="anonymous"
		async>
	</script>
</div>
